@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap');

$default-font: 'Open Sans', sans-serif;
$secondary-font: 'Roboto', sans-serif;

$primary-color: #CE0C88;
$secondary-color: #5b105e;
