.header-navigation-dropdown{
    visibility: hidden;
    position: absolute;
    left: 0;
    right: 0;
    background-color: white;
    visibility: visible;
    height: 0px;
    visibility: hidden;
    transition: .2s;
}

.inner-boxes{
    max-width: 1000px;
    padding: 25px 15px;
    height: 180px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    li{
        margin: 0 5px;
        border: 1px solid rgba(153, 153, 153, 0.623);
        width: 120px;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        img{
            height: 50px;
            object-fit: contain;
        }
        span{
            font-size: 13px;
            padding-top: 14px;
        }
    }
}

.dropDown-2-menu{
    position: absolute;
    left: 0;
    right: 0;
    background-color: white;
    visibility: hidden;
    height: 0px;
    transition: .3s;
}

.nav-hidden{
    visibility: visible;
    transition: .2s;
    height: 180px;
}