.responsive-navburger{
  display: none;
  justify-content: flex-end;
  img{
    height: 40px;
    cursor: pointer;
  }
}

@media screen and (max-width: 700px){
  .responsive-navburger{
    display: flex;
  }
    .header-right-topnav{
        .topnavlist{
          display: none;
        }
    }
    .header-right-bottomnav{
      nav{
        display: none;
      }
    }
    .search-left{
      display: none;
    }
    .search-right{
      width: 100% !important;
      input{
        padding-right: 15px;
      }
    }
    .flight-tab-content, .vacationTab-line{
      flex-direction: column;
    }
    .safetesting-headline{
      font-size: inherit;
      text-align: center;
    }
    .safetesting-banner{
      flex-direction: column;
      .banner-text{
        width: 100% !important;
      }
      .banner-image{
        width: 100% !important;
      }
    }
    .features-section-innner ul{
      display: block;
    :last-child {
      border-right: 0px !important;
    }
    li{
      border-bottom: 1px solid  rgba(153, 153, 153, 0.411);
      border-left: 0;
      border-right: 0;
    }
  }
  .award-boxes{
    display: block !important;
    .award-box{
      margin: 40px 0;
    }
  }
  .contact-section-inner{
    .contact-image{
      display: none;
    }
    .contact-form{
      width: 100%;
    }
  }
}